[Desktop Entry]
Name=Obsidian
Comment=Markdown Notetaking App
GenericName=Text Editor
Type=Application
Exec=obsidian %U
Icon=obsidian
StartupWMClass=Obsidian
MimeType=x-scheme-handler/obsidian;
